swagger: '2.0'
info:
  title: RemitBroker API
  description: > 
      This is the RESTful API for the RemitBroker Platform. This API includes methods for sending and receiving messages between agents with transaction and other information payloads. The first version of the RemitBroker API is an exciting step forward towards making it easier for global remittance businesses to integrate their systems with each other with minimal development effort. The adoption of standard information exchange formats will also go a long way towards simplifying the remittance process. Developer Notes: All endpoints are only accessible via https and are located at api.remitbroker.com. The API needs an API key for initial authentication and uses JSON Web Tokens for isubsequent request authentication. You will need separate API keys and access tokens for testing and production. All dates are in UTC timezone in the format defined in RFC3339: 2016-01-01T14:20:50Z. Fair Usage Policy: If you are sending too many requests too quickly, the API will send back a 503 error code (server unavailable). 

  version: 1.0.0
  termsOfService: www.remitbroker.com/terms/
  contact:
    name: API Support
    url: www.remitbroker.com/support/
    email: support@remitbroker.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.remitbroker.com
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  bearer:
    type: apiKey
    description: Access to this API requires a JWT received by calling the login method. Not supported by Swagger.
    name: x-access-token
    in: header
paths:
  /transactions:
    post:
      tags:
        - transactions
      summary: Post a new transaction for processing
      description: This method posts a new transaction for processing by a receiver.
      operationId: postTransaction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: transaction
          description: The transasction object to be posted
          in: body
          required: true
          schema:
            $ref: '#/definitions/Transaction'
      responses:
        '200':
          description: OK
        '400':
          description: Missing parameters
          schema:
            $ref: '#/definitions/MissingParams'
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
    get:
      tags:
        - transactions
      summary: Get all tranasction for the requesting agent
      description: Returns transactions intended for the requesting agent. Mayinclude new transactions for a payout agent or processed transaction for the send agent to record.
      operationId: getTransaction
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Transaction'
        '404':
          description: Transaction not found
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /transactions/modify:
    post:
      tags:
        - transactions
      summary: Post a modification (amend) request for an existing transaction
      description: This method posts a modification (amend) request for an existing transaction which may be accepted or rejected by the target payout agent depending on the status of the transaction.
      operationId: modifyTransaction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: transaction
          description: The transaction object to be modified
          in: body
          required: true
          schema:
            $ref: '#/definitions/Transaction'
      responses:
        '200':
          description: OK
        '400':
          description: Missing parameters
          schema:
            $ref: '#/definitions/MissingParams'
        '404':
          description: Transaction not found
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /transactions/cancel:
    post:
      tags:
        - transactions
      summary: Post a cancellation request for an existing transaction
      description: This method posts a cancellation request for an existing transaction which may be accepted or rejected by the target payout agent depending on the status of the transaction.
      operationId: cancelTransaction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: transaction
          description: The transaction object to be cancelled
          in: body
          required: true
          schema:
            $ref: '#/definitions/Transaction'
      responses:
        '200':
          description: OK
        '400':
          description: Missing parameters
          schema:
            $ref: '#/definitions/MissingParams'
        '404':
          description: Transaction not found
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /transactions/respond:
    post:
      tags:
        - transactions
      summary: Post a response to a transaction request
      description: This method posts a response to a transaction request.
      operationId: postTransactionResponse
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: txnResponse
          description: The response object to be posted
          in: body
          required: true
          schema:
            $ref: '#/definitions/TxnResponse'
      responses:
        '200':
          description: OK
        '400':
          description: Missing parameters
          schema:
            $ref: '#/definitions/MissingParams'
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /fxrates:
    post:
      tags:
        - fxrates
      summary: Post FX rates
      description: 'This method allows payout agents to post current FX rates by send agent, corridor and product.'
      operationId: postFXRates
      produces:
        - application/json
      parameters:
        - name: fxrate
          description: The fxrate object to be posted
          in: body
          required: true
          schema:
            $ref: '#/definitions/FXRate'
      responses:
        '200':
          description: OK
        '400':
          description: Missing parameters
          schema:
            $ref: '#/definitions/MissingParams'
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
    get:
      tags:
        - fxrates
      summary: Get FX rates
      description: This method allows send agent to get current FX rates for payout agents.
      operationId: getFXRates
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FXRate'
        '400':
          description: Missing parameters
          schema:
            $ref: '#/definitions/MissingParams'
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /rules:
    post:
      tags:
        - rules
      summary: Post a rule
      description: This method allows agents to post rules applicable to transactions they can accept for processing.
      operationId: postRule
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: rule
          description: The rule definition.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Rule'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Message'
            description: Remit amount limit
        '400':
          description: Missing parameters
          schema:
            $ref: '#/definitions/MissingParams'
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
    get:
      tags:
        - rules
      summary: Get all rules posted by partner agents
      description: This method returns rules posted by partner agents.
      operationId: getAllRules
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Rule'
            description: Rule object
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
        
  /rules/{agentId}:
    get:
      tags:
        - rules
      summary: Get all rules posted by agent with agentId
      description: This method returns rules posted by the identified partner agent.
      operationId: getRuleByAgent
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: agentId
          description: Agent Id for which rules to be fetched
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Rule'
            description: Rule object
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
        
  /agents/{agentId}:
    get:
      tags:
        - agents
      summary: Find agent by id
      description: Returns the agent details.
      operationId: getAgentById
      produces:
        - application/json
      parameters:
        - name: agentId
          description: agentId of the agent whose details are requested
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Agent'
        '404':
          description: Agent not found
        default:
          description: Unknown error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
        
definitions:
  Transaction:
    required:
      - sndr_rmtr_id
      - rcvr_rmtr_id
      - posted_on
      - status
      - txn_data
    properties:
      sndr_rmtr_id:
        type: string
        description: Sender Remitter Id issued by RemitBroker (unencryted).
      rcvr_rmtr_id:
        type: string
        description: Receiver Remitter Id issued by RemitBroker (unencrypted).
      posted_on:
        type: string
        format: date-time
        description: 'Date and Time this transaction was posted to the RB platform.'
      status:
        $ref: '#/definitions/Status'
        description: Transaction status (unencrypted).
      txn_data:
        $ref: '#/definitions/TransactionData'
        description: Transaction data (encrypted).

  TransactionData:
    required:
      - sndr_txn_num
      - bene_code
      - sndr_cntry_code 
      - rcvr_cntry_code
      - created_on
      - chng_req_on
      - sender
      - beneficiary
      - product
      - send_amnt
      - bene_amnt
      - fxrate
      - fees
      - taxes
      - discounts

    properties:
      sndr_txn_num:
        type: string
        description: Sending remitter transaction number. 
      rcvr_txn_num:
        type: string
        description: Receiving remitter transaction number. 
      bene_code:
        type: string
        description: Code issued to beneficiary to be used when collecting money.
      sndr_cntry_code:
        type: string
        description: Sending country ISO3 country code.
      rcvr_cntry_code:
        type: string
        description: Receiving country ISO3 country code.
      created_on:
        type: string
        format: date-time
        description: 'Date and Time of transaction payout in UTC (2016-01-01T14:20:50Z) in the format defined in RFC3339.'
      chng_req_on:
        type: string
        format: date-time
        description: 'Date and Time of transaction payout in UTC (2016-01-01T14:20:50Z) in the format defined in RFC3339.'
      sender:
        $ref: '#/definitions/Customer'
        description: Details of sender.
      beneficiary:
        $ref: '#/definitions/Customer'
        description: Details of beneficiary.
      product:
        $ref: '#/definitions/Product'
        description: Product in transaction
      send_amnt:
        $ref: '#/definitions/Money'
        description: Currency and amount to be sent.
      bene_amnt:
        $ref: '#/definitions/Money'
        description: Currency and amount that will be received.
      fxrate:
        type: number
        format: double
        description: FX rate.
      fees:
        type: array
        items:
            $ref: '#/definitions/Charge'
        description: Multiple Fee definitions possible
      taxes:
        type: array
        items:
            $ref: '#/definitions/Charge'
        description: Multiple Taxes definitions possible
      discounts:
        type: array
        items:
            $ref: '#/definitions/Charge'
        description: Multiple Discount definitions possible.
      bene_account:
        $ref: '#/definitions/Account'
        description: Beneficiary bank or other account details.
      purpose:
        type: string
        description:  Purpose of remittance.
      msg:
        type: string
        description: Optional message between remitters. 

  TxnResponse:
    required:
      - txnId
      - status
      - statusDateTime
      - message
    properties:
      txnId:
        type: string
        description: Universal transaction id globally unique.
      payoutDateTime:
        type: string
        format: date-time
        description: 'Date and Time of transaction payout in UTC (2016-01-01T14:20:50Z) in the format defined in RFC3339.'
      amendDateTime:
        type: string
        format: date-time
        description: 'Date and Time of transaction amend in UTC (2016-01-01T14:20:50Z) in the format defined in RFC3339.'
      cancelDateTime:
        type: string
        format: date-time
        description: 'Date and Time of transaction cancel in UTC (2016-01-01T14:20:50Z) in the format defined in RFC3339.'
      txnPayoutAgentRefNum:
        type: string
        description: The payout agent reference number.
      payoutAgentId:
        type: string
        description: Receive agent uid populated when a transaction is processed. May be populated when created when intended for a particualr receive agent only.
      status:
        $ref: '#/definitions/Status'
        description: Transaction status.
      statusDateTime:
        type: string
        format: date-time
        description: 'Date and Time of transaction status in UTC (2016-01-01T14:20:50Z) in the format defined in RFC3339.'
      message:
        $ref: '#/definitions/Message'
        description: A message object to pass information from payout agent to sending agent especially if a request is rejected.
      missingParameters:
        $ref: '#/definitions/MissingParams'
        description: 'List of missing parameters required for completion of transaction. These are transaction level missing parameters, must use the same parameter names as the model specifications. While the response to the API call returns method level missing parameters, which is usually only the payload object.'
  FXRate:
    required:
      - corridor
      - product
      - rate
    properties:
      corridor:
        $ref: '#/definitions/Corridor'
        description: Product in transaction
      product:
        $ref: '#/definitions/Product'
        description: Product in transaction
      rate:
        type: number
        format: double
        description: FX rate.
      positivemargin:
        type: number
        format: double
        description: Permitted positive margin variance.
      negativemargin:
        type: number
        format: double
        description: Permitted negative margin variance.
  Product:
    required:
      - code
      - desc
    properties:
      code:
        type: string
        description: 3-character universal product code
      desc:
        type: string
        description: Product description
  Corridor:
    description: Comprises of origin and destination country-currency pairs.
    required:
      - send_cntry_code
      - send_currency_code
      - recv_cntry_code
      - recv_currency_code
    properties:
      send_cntry_code:
        type: string
        description: Send country (ISO3 code)
      send_currency_code:
        type: string
        description: Send currency (ISO3 code)
      recv_cntry_code:
        type: string
        description: Payout country (ISO3 code)
      recv_currency_code:
        type: string
        description: Payout currency (ISO3 code)
  Money:
    required:
      - currency
      - amount
    properties:
      currency:
        type: string
        description: Currency (ISO3 code)
      amount:
        type: number
        format: double
        description: Amount
  Charge:
    required:
      - name
      - value
    properties:
      name:
        type: string
        description: Name for the charge (Base Fee, Sales Tax, Promo Discount) 
      value:
        $ref: '#/definitions/Money'
        description: Value of the charge, including currency and amount 
  BankAccount:
    required:
      - number
      - inst_name
    properties:
      name:
        type: string
        description: Account holder name. Optional, only if different from bene name.
      number:
        type: string
        description: Account number.
      code:
        type: string
        description: IMPS or any alternative to account number.
      type:
        type: string
        description: Bank account tyoe or other type such as mobile wallet.
      inst_name:
        type: string
        description: Bank or other institution name.
      inst_code:
        type: string
        description: Bank or institution code as per receiving country format.
      inst_address:
        $ref: '#/definitions/Address'
        description: Bank or  address.
      branchCode:
        type: string
        description: Branch code as per receiving country format.
      branchName:
        type: string
        description: Branch name.
      branchAddress:
        $ref: '#/definitions/Address'
        description: Branch address.
  Agent:
    required:
      - agentId
      - legalName
      - tradingName
      - address
      - phoneNumber
      - emailId
      - service
      - products
    properties:
      agentId:
        type: string
        description: An agent identifier unique across the platform
      legalName:
        type: string
        description: 'Legal name of the agent, generally not displayed to the customer'
      tradingName:
        type: string
        description: 'Trading name of the agent, generally displayed to the cutomer'
      address:
        $ref: '#/definitions/Address'
        description: Product in transaction
      phoneNumber:
        type: string
        description: Complete phone number including country and area codes
      emailId:
        type: string
        description: "Agent's email id for customer suport requests"
      service:
        type: string
        description: 'Service code, only one of Remit or Receive. And agent that both remits and receives will need to have two unique entities on the platform'
      products:
        type: array
        items:
          type: string
        description: Array of product codes for products serviced
  Customer:
    required:
      - name
      - curr_address
      - phone
      - dob
      - nationality
      - id_doc
    properties:
      name:
        $ref: '#/definitions/Name'
        description: Name of the customer as it appears on the ID presented. Can be split into parts or entered as a whole.
      curr_address:
        $ref: '#/definitions/Address'
        description: Current address of the customer.
      perm_address:
        $ref: '#/definitions/Address'
        description: Permanent address of the customer.
      email:
        type: string
        description: Email Id of the customer.
      phone:
        type: string
        description: Complete phone number including country and area codes
      dob:
        type: string
        format: date
        description: Date of birth
      nationality:
        type: string
        description: Nationality (ISO3 code)
      id_doc:
        $ref: '#/definitions/IdDoc'
        description:  Legal identification document.
      other_info:
        type: array
        items:
          $ref: '#/definitions/KeyValuePair'
        description:  Open key value pairs
  Address:
    required:
      - street
      - city
      - postcode
      - state
      - country
    properties:
      street:
        type: string
        description: Street address including house number and street name.
      locality:
        type: string
        description: Street address including house number and street name.
      city:
        type: string
        description: City name.
      postcode:
        type: string
        description: Postal code (pin code / zip code).
      state:
        type: string
        description: State name.
      country:
        type: string
        description: Address country (ISO3 code).
  IdDoc:
    required:
      - number
      - type
      - expires_on
      - country
    properties:
      number:
        type: string
        description: Id number
      type:
        type: string
        description: Id type
      expires_on:
        type: string
        format: date
        description: Id expiry date
      country:
        type: string
        description: Issuing country (ISO3 code)
  Rule:
    description: The rule object model will consist of multiple types of rules typically defined by payout agents for send agents to apply when capturing a transaction.
    required:
      - definingAgentId
      - ruleType
    properties:
      definingAgentId:
        type: string
        description: Id of agent posting this rule.
      ruleType:
        type: string
        description: 'Applicable to Send or Payout. (S=Send side rule, P=Payout side rule).'
      appliesToAgentId:
        type: string
        description: Id of agent for which this rule is applicable. Null or empty implies the rule is applicable for all agents.
      product:
        $ref: '#/definitions/Product'
        description: Product for which the rule applies. Null or empty implies that the rule applies for all products.
      sendCountryISO3Code:
        type: string
        description: Send country (ISO3 code). Null or empty implies all send countries.
      sendCurrencyISO3Code:
        type: string
        description: Send currency (ISO3 code). Null or empty implies all send currencies.
      payoutCountryISO3Code:
        type: string
        description: Payout country (ISO3 code). Null or empty implies all payout countries.
      payoutCurrencyISO3Code:
        type: string
        description: Payout currency (ISO3 code). Null or empty implies all payout currencies.

  Status:
    required:
      - status_code
      - status_desc
    properties:
      status_code:
        type: string
        description: 3-character universal status code.
      status_desc:
        type: string
        description: Status description.
  MissingParams:
    properties:
      params:
        type: array
        items:
          type: string
  Message:
    required:
      - messageCode
      - messageDesc
    properties:
      messageCode:
        type: string
        description: '3-character message code (REQ_ACK=Received but not confirmed, REQ_OK=Received and confirmed accepted, REQ_REJ=Received but rejected with reasons in message body)'
      messageDesc:
        type: string
        description: Message description
      messageBody:
        type: string
        description: Detailed message body
  Error:
    required:
      - error_code
      - error_msg
    properties:
      error_code:
        type: string
        description: HTTP error code.
      error_msg:
        type: string
        description: Error messsage.
      error_body:
        type: string
        description: Detailed error information.
  KeyValuePair:
    required:
      - key
      - value
    properties:
      key:
        type: string
        description: Attribute identifier.
      value:
        type: string
        description: Attribute value.
